:root{
  --optionSize:50px;
}

body{
  display: flex;
  flex-direction: column;
}
header{
  height: auto;
  width: 100%;
  padding: 10px;
  text-align: center;
  position: fixed;
  top:0px;
  left: 0px;
  z-index: 10;
  background: #e308f5;
  box-shadow: 0px 8px 16px rgba(85, 85, 85, 0.56); 
}

table{
  margin-top:50px;
  overflow-y: auto;  
}

tbody{
  height: 100%;
}
tr{
  height: 100%;
  
}

.options{
  
  position: absolute;
  left:20px;
  width: 90vw;
  height: 200px;
  
  background: red;  
  z-index: -10;
  
  display: flex;
  flex-direction: row;
  
}

.messageButtoms{
  background: red;
  border: 1px solid #a2a1a112;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  font-size: 1.3rem;
  text-align: center;
  width: 100px;

}

.draggable{
  position: relative;    
  width: 95vw;
  height: 200px;

  background: #bababa;  
  box-shadow: 4px 4px 8px gray;
  font-size: 2rem;
  padding-left: 10px;
 
  
}