:root{
  --optionSize:50px;
}

body{
  display: flex;
  flex-direction: column;
}
header{
  height: auto;
  width: 100%;
  padding: 10px;
  text-align: center;
  position: fixed;
  top:0px;
  left: 0px;
  z-index: 10;
  background: #e308f5;
  box-shadow: 0px 8px 16px rgba(85, 85, 85, 0.56); 
}

table{
  margin-top:50px;
  overflow-y: auto;  
}

tbody{
  height: 100%;
}
tr{
  height: 100%;
}

.options{
  
/*  position: relative;*/
/*  width: 200px;*/
  height: 100%;
  
  background: red;  
  z-index: -10;
  
  display: flex;
  flex-direction: row;
  
}

.messageButtoms{
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 215px;
  font-size: 2rem;
  text-align: center;
  padding: 10px;
}

.draggable{
  position: relative;
  left: calc(-1* var(--optionSize));
  width: 100%;
  height: 200px;
/*  margin-left: calc(-1* var(--optionSize));*/
  
  background: #bababa;  
  box-shadow: 4px 4px 8px gray;
  font-size: 2rem;
  padding: 10px;
 
  
}